body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-image: linear-gradient(
      145deg,
      rgba(22, 22, 22, 0.02) 0%,
      rgba(22, 22, 22, 0.02) 58%,
      rgba(249, 249, 249, 0.02) 58%,
      rgba(249, 249, 249, 0.02) 90%,
      rgba(197, 197, 197, 0.02) 90%,
      rgba(197, 197, 197, 0.02) 93%,
      rgba(243, 243, 243, 0.02) 93%,
      rgba(243, 243, 243, 0.02) 99%,
      rgba(107, 107, 107, 0.02) 99%,
      rgba(107, 107, 107, 0.02) 100%
    ),
    linear-gradient(
      311deg,
      rgba(157, 157, 157, 0.02) 0%,
      rgba(157, 157, 157, 0.02) 2%,
      rgba(234, 234, 234, 0.02) 2%,
      rgba(234, 234, 234, 0.02) 47%,
      rgba(57, 57, 57, 0.02) 47%,
      rgba(57, 57, 57, 0.02) 84%,
      rgba(181, 181, 181, 0.02) 84%,
      rgba(181, 181, 181, 0.02) 98%,
      rgba(128, 128, 128, 0.02) 98%,
      rgba(128, 128, 128, 0.02) 100%
    ),
    linear-gradient(
      97deg,
      rgba(231, 231, 231, 0.02) 0%,
      rgba(231, 231, 231, 0.02) 35%,
      rgba(53, 53, 53, 0.02) 35%,
      rgba(53, 53, 53, 0.02) 46%,
      rgba(114, 114, 114, 0.02) 46%,
      rgba(114, 114, 114, 0.02) 71%,
      rgba(55, 55, 55, 0.02) 71%,
      rgba(55, 55, 55, 0.02) 99%,
      rgba(202, 202, 202, 0.02) 99%,
      rgba(202, 202, 202, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(250, 250, 250), rgba(60, 188, 113, 0.689));
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
