.Snav {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding-top: 50px;
  width: 300px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
.side_block {
  display: block;
  margin-bottom: 5px;
  border-radius: 5%;
  text-align: center;
  background-color: rgb(144, 213, 173);
}
.Snav:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
