.categoryColor {
  background-color: rgba(78, 174, 18, 0.878);
  border-radius: 10px;
}
.containerColor {
  background-color: rgba(78, 174, 18, 0.878);
  width: 90%;
  border-radius: 30px;
}
.backBtn {
  background-color: rgb(9, 26, 11);
  color: white;
}
