.navColor {
  background-color: rgb(60, 188, 113) !important;
  color: black !important;
}

.titleText {
  text-align: center !important;
  background-color: rgb(60, 188, 113);
  border-radius: 10px !important;
}

.navColor:hover {
  background-color: rgba(36, 97, 61, 0.63) !important;
  color: white !important;
}
.listItem {
  border-radius: 10px !important;
  margin-bottom: 5px;
}
