.navColor {
  background-color: rgb(60, 188, 113) !important;
  color: black !important;
}

.titleText {
  text-align: center !important;
  background-color: rgb(60, 188, 113) !important;
}

.navColor:hover {
  background-color: rgba(36, 97, 61, 0.63) !important;
  color: white !important;
}
.listItem {
  border-radius: 10px !important;
  margin-bottom: 5px;
}
.sideNav {
  width: calc(100% / 8);
  min-width: 200px;
}
.toggleButton {
  cursor: pointer !important;
}

.toggleButton:hover {
  background-color: #111 !important;
  color: rgb(60, 188, 113) !important;
  font-weight: bold !important;
}
