.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: rgb(144, 213, 173);
  display: flex;
  justify-content: center;
  align-items: center;
}
