ul {
  list-style-type: none;
  margin: 0 !important;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.non_link_li {
  float: right;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
}
.buttonColor {
  background-color: rgb(5, 51, 10) !important;
}
li a:hover {
  background-color: #111;
  color: rgb(60, 188, 113);
  font-weight: bold;
}
