.search_input{
    padding: 2px;
    width: 200px;
    margin-top: 6px;
    margin-left: 740px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    height: 30px;
    align-self: flex-end;
    display: flex;

}
input{
    background: transparent;
    border: none;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    text-align: left;
}
input:focus{
    outline: none;
}
img{
    align-items: self-start;
    height: 100%;
}