.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.accordion {
  width: 35%;
  padding-top: 1%;
}

.item {
  background: rgb(144, 213, 173);
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: black;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.container{
  overflow: scroll;
  height: 500px;


}
.container{
  padding: 20px;
  text-align: justify;

}
.container h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;
}
.container p1{
  font-family: 'georgia';

}

