.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.accordion {
  width: 35%;
  padding-top: 1%;
}

.item {
  background: rgb(144, 213, 173);
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: black;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.container{
  height: 500px;


}
.container{
  padding: 20px;
  text-align: justify;

}
.container h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;
}
.container p1{
  font-family: 'georgia';

}

.container button{
  font-family: "Helvetica", "Arial", sans-serif;
  display: table-cell;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 400px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(144, 213, 173);
  color: #000000;
  border-radius: 4px;
  border: none;
  left: 45%;
  cursor: pointer;
  position: absolute;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(144, 213, 173);

}
.container button:focus{
  outline: 0;

}
.container button:before, .container button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.container button:active {
  transform: scale(0.9);
  background-color: rgb(114, 170, 137);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.container button:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.container button:after {
  display: block;
}
.container .next_btn {
  left: 30%;
  top: 250px;

}


